[bg-img-src],
[data-bg-src] {
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.bg-position-top {
    background-position: 50% 0%;
}

.bg-position-bottom {
    background-position: 50% 100%;
}

.bg-position-bottom-left {
    background-size: contain;
    background-position: 0% 100%;
}