:focus {
    outline: none;
}

.overflow-hidden {
    overflow: hidden !important;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.h-100 {
    height: 100%;
}