@each $breakpoint in map-keys($grid-breakpoints) {

    @include media-breakpoint-only($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        $i: 6;

        @while $i < 40 {
            .fs#{$infix}-#{$i} {
                font-size: #{$i}px !important;
            }

            $i: $i+1;
        }
    }
}