:focus {
    outline: none;
}

.overflow-hidden {
    overflow: hidden !important;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.overlay-black-60 {
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: .6;
        z-index: 0;
    }
}