.icon-xxl {
    font-size: 76px !important;
}

.icon-xl {
    font-size: 56px !important;
}

.icon-l {
    font-size: 40px !important;
}

.icon-m {
    font-size: 32px !important;
}

.icon-s {
    font-size: 21px !important;
}

.icon-xs {
    font-size: 13px !important;
}