.icon-xxl {
    font-size: $icon-size-xxl !important;
}

.icon-xl {
    font-size: $icon-size-xl !important;
}

.icon-l {
    font-size: $icon-size-l !important;
}

.icon-m {
    font-size: $icon-size-m !important;
}

.icon-s {
    font-size: $icon-size-s !important;
}

.icon-xs {
    font-size: $icon-size-xs !important;
}