a,
button {
    padding: 0px;
    transition: all 250ms ease-out;
}

.svg-link {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.link-white {
    color: $white;
    &:hover {
        color: $red;
        i:before {
            color: $red;
        }
    }
}

.link-black {
    color: $black;
    &:hover {
        color: $red;
    }
}

.link-medium {
    color: $gray-500;
    &:hover {
        color: $gray-600;
        i:before {
            color: $gray-600;
        }
    }
}

.link-red {
    color: $red;
    &:hover {
        color: $red;
    }
}

.link-blue {
    color: $blue;
    &:hover {
        color: $blue;
    }
}

.link-underline {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}