a,
button {
    padding: 0px;
    transition: all 250ms ease-out;
}

.svg-link {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.link-underline {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

@each $name, $color in $link-colors {
    .link-#{$name} {
        color: $color;
        &:hover {
            color: lighten($color, 25%);
            i:before {
                color: lighten($color, 25%);
            }
        }
    }
}