@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        $i: $negative-margins-step;
        @while $i <= $negative-margins-max {
            .mt#{$infix}--#{$i} {
                margin-top: -$i + px + !important;
            }
            $i: $i+$negative-margins-step;
        }
    }
}