p {
    letter-spacing: $font-spacing-base;
}

.text-wings {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 0px 20px;
    &:before,
    &:after {
        content: "";
        display: block;
        height: 6px;
        width: 150%;
        background: $black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &:before {
        right: 100%;
    }
    &:after {
        left: 100%;
    }
}

.text-underline {
    display: inline-block;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100px;
        height: 2px;
        background: $white;
    }
    &.text-underline-blue {
        &:after {
            background: $blue;
        }
    }
}

.text-underline-simple {
    text-decoration: underline;
}

.line-height-07 {
    line-height: .7;
}

.line-height-09 {
    line-height: .9;
}

.line-height-11 {
    line-height: 1.1;
}

.line-height-14 {
    line-height: 1.4;
}

.line-height-2 {
    line-height: 2;
}

.font-weight-book {
    font-weight: $font-weight-book !important;
}

.font-weight-medium {
    font-weight: $font-weight-medium !important;
}

.font-weight-exbold {
    font-weight: $font-weight-exbold !important;
}

.font-weight-black {
    font-weight: $font-weight-black !important;
}

.display-4 {
    font-size: $display4-size !important;
    font-weight: $display4-weight !important;
    line-height: .8;
}

.display-5 {
    font-size: $display5-size !important;
    font-weight: $display5-weight !important;
    line-height: .8;
}

.xxlarge {
    font-size: $font-size-xxlg;
}

.xlarge {
    font-size: $font-size-xlg;
}

.large {
    font-size: $font-size-lg;
}

.xsmall {
    font-size: $font-size-xsm;
}

.xxsmall {
    font-size: $font-size-xxsm;
}

.xxxsmall {
    font-size: $font-size-xxxsm;
}