* {
    letter-spacing: $font-spacing-base;
}

ul.no-style {
    padding: 0;
    margin: 0;
    list-style: none;
}

// Responsive justify
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .text#{$infix}-justify {
            text-align: justify !important;
        }
    }
}

.text-underline {
    display: inline-block;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 110%;
        height: 2px;
        background: currentColor;
    }
}

.text-underline-simple {
    text-decoration: underline;
}

.line-height-07 {
    line-height: .7 !important;
}

.line-height-08 {
    line-height: .8 !important;
}

.line-height-09 {
    line-height: .9 !important;
}

.line-height-10 {
    line-height: 1 !important;
}

.line-height-11 {
    line-height: 1.1 !important;
}

.line-height-12 {
    line-height: 1.2 !important;
}

.line-height-13 {
    line-height: 1.3 !important;
}

.line-height-14 {
    line-height: 1.4 !important;
}

.line-height-15 {
    line-height: 1.5 !important;
}

.line-height-16 {
    line-height: 1.6 !important;
}

.line-height-17 {
    line-height: 1.7 !important;
}

.line-height-18 {
    line-height: 1.8 !important;
}

.line-height-19 {
    line-height: 1.9 !important;
}

.line-height-20 {
    line-height: 2 !important;
}

.font-weight-thin {
    font-weight: $font-weight-thin !important;
}

.font-weight-exlight {
    font-weight: $font-weight-exlight !important;
}

.font-weight-book {
    font-weight: $font-weight-book !important;
}

.font-weight-regular {
    font-weight: $font-weight-regular !important;
}

.font-weight-medium {
    font-weight: $font-weight-medium !important;
}

.font-weight-semibold {
    font-weight: $font-weight-semibold !important;
}

.font-weight-exbold {
    font-weight: $font-weight-exbold !important;
}

.font-weight-black {
    font-weight: $font-weight-black !important;
}

.font-weight-heavy {
    font-weight: $font-weight-heavy !important;
}

.display-4 {
    @include font-size($display4-size);
    font-weight: $display4-weight;
    line-height: $display-line-height;
}

.display-5 {
    @include font-size($display5-size);
    font-weight: $display5-weight;
    line-height: $display-line-height;
}

.display-6 {
    @include font-size($display6-size);
    font-weight: $display6-weight;
    line-height: $display-line-height;
}

.xxxlarge {
    @include font-size($font-size-xxxlg);
}

.xxlarge {
    @include font-size($font-size-xxlg);
}

.xlarge {
    @include font-size($font-size-xlg);
}

.large {
    @include font-size($font-size-lg);
}

.small {
    @include font-size($font-size-sm);
}

.xsmall {
    @include font-size($font-size-xsm);
}

.xxsmall {
    @include font-size($font-size-xxsm);
}

.xxxsmall {
    @include font-size($font-size-xxxsm);
}

.tiny {
    @include font-size($font-size-tiny);
}