// Icons
$icon-size-xxl:         40px !default;
$icon-size-xl:          30px !default;
$icon-size-l:           25px !default;
$icon-size-m:           20px !default;
$icon-size-s:           15px !default;
$icon-size-xs:          13px !default;

// Images
$image-width:           230 !default;
$image-width-step:      5 !default;

// Links
$link-colors: (
    white:   white,
    black:   black,
    gray:    gray,
    red:     red,
    green:   green,
    blue:    blue,
    yellow:  yellow
);

// Negative margins
$negative-margins-max:      230 !default;
$negative-margins-step:     5 !default;

// Typography
$font-size-base:        1rem !default;

$font-weight-book:      300 !default;
$font-weight-medium:    500 !default;
$font-weight-bold:      600 !default;
$font-weight-exbold:    800 !default;
$font-weight-black:     900 !default;

$display4-size:         3.3571rem !default;
$display4-weight:       $font-weight-bold;
$display5-size:         2.5rem !default;
$display5-weight:       $font-weight-bold;

$font-size-xxlg:        ($font-size-base * 1.2857) !default;
$font-size-xlg:         ($font-size-base * 1.1428) !default;
$font-size-lg:          ($font-size-base * 1.0714) !default;
$font-size-xsm:         ($font-size-base * .8571) !default;
$font-size-xxsm:        ($font-size-base * .7857) !default;
$font-size-xxxsm:       ($font-size-base * .7142) !default;

// Vertical heights
$vertical-heights-max:      230 !default;
$vertical-heights-step:     5 !default;